<div class="universalForm">
    <div class="container">
        <div class="itemA">
            <label for="ilmoitus_laji">Advert type:</label>
        </div>
        <div class="itemB">
            <select class="form-control" id="ilmoitus_laji" name="ilmoitus_laji">
                <option value="1">{{advertType advert.ilmoitus_laji}}</option>
                {{#if (selectAdvertType advert.ilmoitus_laji)}}
                <option value="1">Sell</option>
                {{else}}
                <option value="2">Buy</option>
                {{/if}}
            </select>
        </div>
        <div class="itemA">
            <label for="ilmoitus_nimi">Advert name:</label>
        </div>
        <div class="itemB">
            <input type="text" class="form-control" id="ilmoitus_nimi" name="ilmoitus_nimi"
                value="{{advert.ilmoitus_nimi}}" placeholder="Lis채채 ilmoituksen nimi" />
        </div>
        <div class="itemA">
            <label for="ilmoitus_kuvaus">Advert image:</label>
        </div>
        <div class="itemB">
            <textarea class="form-control" id="ilmoitus_kuvaus" name="ilmoitus_kuvaus"
                placeholder="Lis채채 kuvaus">{{advert.ilmoitus_kuvaus}}</textarea>
        </div>
        <div class="editAdvertButton">
            <button type="submit" class="button">Save</button>
        </div>
    </div>
</div>